# Spark API

In [1]:
import pydataset # for demo
import pyspark

In [2]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [3]:
tips = pydataset.data('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
tips = spark.createDataFrame(tips) # any pandas dataframe

In [5]:
tips

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: bigint]

In [6]:
tips.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [7]:
type(tips)

pyspark.sql.dataframe.DataFrame

In [8]:
first_5_rows = tips.head(5)

In [9]:
first_5_rows

[Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=10.34, tip=1.66, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=21.01, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=23.68, tip=3.31, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=24.59, tip=3.61, sex='Female', smoker='No', day='Sun', time='Dinner', size=4)]

In [10]:
first_row = tips.head()

In [11]:
first_row.total_bill

16.99

In [12]:
tips

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: bigint]

In [13]:
tips.select('total_bill', 'smoker', 'day')

DataFrame[total_bill: double, smoker: string, day: string]

In [14]:
tips.select('total_bill', 'smoker', 'day').show()

+----------+------+---+
|total_bill|smoker|day|
+----------+------+---+
|     16.99|    No|Sun|
|     10.34|    No|Sun|
|     21.01|    No|Sun|
|     23.68|    No|Sun|
|     24.59|    No|Sun|
|     25.29|    No|Sun|
|      8.77|    No|Sun|
|     26.88|    No|Sun|
|     15.04|    No|Sun|
|     14.78|    No|Sun|
|     10.27|    No|Sun|
|     35.26|    No|Sun|
|     15.42|    No|Sun|
|     18.43|    No|Sun|
|     14.83|    No|Sun|
|     21.58|    No|Sun|
|     10.33|    No|Sun|
|     16.29|    No|Sun|
|     16.97|    No|Sun|
|     20.65|    No|Sat|
+----------+------+---+
only showing top 20 rows

In [15]:
tips.select('*').show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [16]:
tip_percentage = tips.tip / tips.total_bill
tip_percentage

Column<'(tip / total_bill)'>

**spark is lazy ^^**

In [17]:
tips.select(tip_percentage).show()

+-------------------+
| (tip / total_bill)|
+-------------------+
|0.05944673337257211|
|0.16054158607350097|
|0.16658733936220846|
| 0.1397804054054054|
|0.14680764538430255|
|0.18623962040332148|
|0.22805017103762829|
|0.11607142857142858|
|0.13031914893617022|
| 0.2185385656292287|
| 0.1665043816942551|
|0.14180374361883155|
|0.10181582360570687|
|0.16277807921866522|
|0.20364126770060686|
|0.18164967562557924|
| 0.1616650532429816|
|0.22774708410067526|
|0.20624631703005306|
|0.16222760290556903|
+-------------------+
only showing top 20 rows

In [18]:
tips.select('*', tip_percentage).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size| (tip / total_bill)|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

We must create column name for tip_percentage!!!

In [19]:
tips.select('*', tip_percentage.alias('tip_percentage')).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|     tip_percentage|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

In [20]:
# abother way to create temporary column
tip_percentage.alias('tip_perc')

Column<'(tip / total_bill) AS tip_perc'>

**In spark, in order to modify objects, you must reassign!!!**

In [21]:
tips

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: bigint]

In [22]:
tips = tips.select('*', tip_percentage.alias('tip_perc'))
tips

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: bigint, tip_perc: double]

In [23]:
tips.show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|           tip_perc|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

Can we use np/pd methods (eg `np.where`) with a spark df?

No! There's ways to do it w/spark API.

In [24]:
tips.select('size', tips.size.cast('string'))

DataFrame[size: bigint, size: string]

In [25]:
tips.select('size', tips.size.cast('string')).show()

+----+----+
|size|size|
+----+----+
|   2|   2|
|   3|   3|
|   3|   3|
|   2|   2|
|   4|   4|
|   4|   4|
|   2|   2|
|   4|   4|
|   2|   2|
|   2|   2|
|   2|   2|
|   4|   4|
|   2|   2|
|   4|   4|
|   2|   2|
|   2|   2|
|   3|   3|
|   3|   3|
|   3|   3|
|   3|   3|
+----+----+
only showing top 20 rows

In [26]:
from pyspark.sql.functions import regexp_replace, regexp_extract

In [27]:
tips.select(
    'time',
    regexp_replace('time', r'.{3}$', '') # col, pattern, replacement
).show(15)

+------+--------------------------------+
|  time|regexp_replace(time, .{3}$, , 1)|
+------+--------------------------------+
|Dinner|                             Din|
|Dinner|                             Din|
|Dinner|                             Din|
|Dinner|                             Din|
|Dinner|                             Din|
|Dinner|                             Din|
|Dinner|                             Din|
|Dinner|                             Din|
|Dinner|                             Din|
|Dinner|                             Din|
|Dinner|                             Din|
|Dinner|                             Din|
|Dinner|                             Din|
|Dinner|                             Din|
|Dinner|                             Din|
+------+--------------------------------+
only showing top 15 rows

In [28]:
tips.select(
    'time',
    regexp_replace('time', r'.{3}$', ''), # col, pattern, replacement
    regexp_extract('time', r'^(\w)', 1)
).show(15)

+------+--------------------------------+------------------------------+
|  time|regexp_replace(time, .{3}$, , 1)|regexp_extract(time, ^(\w), 1)|
+------+--------------------------------+------------------------------+
|Dinner|                             Din|                             D|
|Dinner|                             Din|                             D|
|Dinner|                             Din|                             D|
|Dinner|                             Din|                             D|
|Dinner|                             Din|                             D|
|Dinner|                             Din|                             D|
|Dinner|                             Din|                             D|
|Dinner|                             Din|                             D|
|Dinner|                             Din|                             D|
|Dinner|                             Din|                             D|
|Dinner|                             Din|                             D|
|Dinner|                             Din|                             D|
|Dinner|                             Din|                             D|
|Dinner|                             Din|                             D|
|Dinner|                             Din|                             D|
+------+--------------------------------+------------------------------+
only showing top 15 rows

In [29]:
# to get the shape/size of df
tips.count()

244

In [30]:
tips.columns

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size', 'tip_perc']

simulated pandas `.shape`

In [31]:
len(tips.columns), tips.count()

(8, 244)

In [32]:
from pyspark.sql.functions import mean, sum

In [33]:
tips.select(mean('total_bill')).show()

+------------------+
|   avg(total_bill)|
+------------------+
|19.785942622950813|
+------------------+

In [34]:
tips.select(sum('total_bill')).show()

+-----------------+
|  sum(total_bill)|
+-----------------+
|4827.769999999999|
+-----------------+

In [35]:
from pyspark.sql.functions import concat, lit

In [36]:
# party of 4, party ofd 3
tips.select(
    'size',
    concat(lit('Party of '), 'size'),
).show()

+----+-----------------------+
|size|concat(Party of , size)|
+----+-----------------------+
|   2|             Party of 2|
|   3|             Party of 3|
|   3|             Party of 3|
|   2|             Party of 2|
|   4|             Party of 4|
|   4|             Party of 4|
|   2|             Party of 2|
|   4|             Party of 4|
|   2|             Party of 2|
|   2|             Party of 2|
|   2|             Party of 2|
|   4|             Party of 4|
|   2|             Party of 2|
|   4|             Party of 4|
|   2|             Party of 2|
|   2|             Party of 2|
|   3|             Party of 3|
|   3|             Party of 3|
|   3|             Party of 3|
|   3|             Party of 3|
+----+-----------------------+
only showing top 20 rows

In [37]:
from pyspark.sql.functions import when

In [38]:
when(tips.tip_perc > .20, 'good tip!!').otherwise('not a good tip!!')

Column<'CASE WHEN (tip_perc > 0.2) THEN good tip!! ELSE not a good tip!! END'>

In [39]:
tips.select(
    'tip_perc',
    when(tips.tip_perc > .20, 'good tip!!').otherwise('not a good tip!!')
).show(10)

+-------------------+--------------------------------------------------------------------+
|           tip_perc|CASE WHEN (tip_perc > 0.2) THEN good tip!! ELSE not a good tip!! END|
+-------------------+--------------------------------------------------------------------+
|0.05944673337257211|                                                    not a good tip!!|
|0.16054158607350097|                                                    not a good tip!!|
|0.16658733936220846|                                                    not a good tip!!|
| 0.1397804054054054|                                                    not a good tip!!|
|0.14680764538430255|                                                    not a good tip!!|
|0.18623962040332148|                                                    not a good tip!!|
|0.22805017103762829|                                                          good tip!!|
|0.11607142857142858|                                                    not a good tip!!|
|0.13031914893617022|                                                    not a good tip!!|
| 0.2185385656292287|                                                          good tip!!|
+-------------------+--------------------------------------------------------------------+
only showing top 10 rows

In [40]:
tips.select(
    'tip_perc',
    when(tips.tip_perc > .20, 'good tip!!').otherwise('not a good tip!!').alias('tip_description')
).show()

+-------------------+----------------+
|           tip_perc| tip_description|
+-------------------+----------------+
|0.05944673337257211|not a good tip!!|
|0.16054158607350097|not a good tip!!|
|0.16658733936220846|not a good tip!!|
| 0.1397804054054054|not a good tip!!|
|0.14680764538430255|not a good tip!!|
|0.18623962040332148|not a good tip!!|
|0.22805017103762829|      good tip!!|
|0.11607142857142858|not a good tip!!|
|0.13031914893617022|not a good tip!!|
| 0.2185385656292287|      good tip!!|
| 0.1665043816942551|not a good tip!!|
|0.14180374361883155|not a good tip!!|
|0.10181582360570687|not a good tip!!|
|0.16277807921866522|not a good tip!!|
|0.20364126770060686|      good tip!!|
|0.18164967562557924|not a good tip!!|
| 0.1616650532429816|not a good tip!!|
|0.22774708410067526|      good tip!!|
|0.20624631703005306|      good tip!!|
|0.16222760290556903|not a good tip!!|
+-------------------+----------------+
only showing top 20 rows

In [41]:
# only retrun observations where tip% is greater than 20%
tips.where(tips.tip_perc > .2).show()

+----------+----+------+------+----+------+----+-------------------+
|total_bill| tip|   sex|smoker| day|  time|size|           tip_perc|
+----------+----+------+------+----+------+----+-------------------+
|      8.77| 2.0|  Male|    No| Sun|Dinner|   2|0.22805017103762829|
|     14.78|3.23|  Male|    No| Sun|Dinner|   2| 0.2185385656292287|
|     14.83|3.02|Female|    No| Sun|Dinner|   2|0.20364126770060686|
|     16.29|3.71|  Male|    No| Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No| Sun|Dinner|   3|0.20624631703005306|
|     17.92|4.08|  Male|    No| Sat|Dinner|   2|0.22767857142857142|
|     13.94|3.06|  Male|    No| Sun|Dinner|   2|0.21951219512195122|
|     22.23| 5.0|  Male|    No| Sun|Dinner|   2|0.22492127755285649|
|     10.29| 2.6|Female|    No| Sun|Dinner|   2| 0.2526724975704568|
|     18.29|3.76|  Male|   Yes| Sat|Dinner|   4|0.20557681793329688|
|      3.07| 1.0|Female|   Yes| Sat|Dinner|   1|0.32573289902280134|
|     16.66| 3.4|  Male|    No|Thur| Lunch|   2|0.20408163265306123|
|     18.28| 4.0|  Male|    No|Thur| Lunch|   2| 0.2188183807439825|
|     24.71|5.85|  Male|    No|Thur| Lunch|   2|0.23674625657628487|
|     16.32| 4.3|Female|   Yes| Fri|Dinner|   2|0.26348039215686275|
|     11.35| 2.5|Female|   Yes| Fri|Dinner|   2|0.22026431718061676|
|     18.24|3.76|  Male|    No| Sat|Dinner|   2|0.20614035087719298|
|     14.31| 4.0|Female|   Yes| Sat|Dinner|   2| 0.2795248078266946|
|      14.0| 3.0|  Male|    No| Sat|Dinner|   2|0.21428571428571427|
|     17.31| 3.5|Female|    No| Sun|Dinner|   2|0.20219526285384173|
+----------+----+------+------+----+------+----+-------------------+
only showing top 20 rows

In [42]:
# does the smae thing
tips.filter(tips.tip_perc > .2).show()

+----------+----+------+------+----+------+----+-------------------+
|total_bill| tip|   sex|smoker| day|  time|size|           tip_perc|
+----------+----+------+------+----+------+----+-------------------+
|      8.77| 2.0|  Male|    No| Sun|Dinner|   2|0.22805017103762829|
|     14.78|3.23|  Male|    No| Sun|Dinner|   2| 0.2185385656292287|
|     14.83|3.02|Female|    No| Sun|Dinner|   2|0.20364126770060686|
|     16.29|3.71|  Male|    No| Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No| Sun|Dinner|   3|0.20624631703005306|
|     17.92|4.08|  Male|    No| Sat|Dinner|   2|0.22767857142857142|
|     13.94|3.06|  Male|    No| Sun|Dinner|   2|0.21951219512195122|
|     22.23| 5.0|  Male|    No| Sun|Dinner|   2|0.22492127755285649|
|     10.29| 2.6|Female|    No| Sun|Dinner|   2| 0.2526724975704568|
|     18.29|3.76|  Male|   Yes| Sat|Dinner|   4|0.20557681793329688|
|      3.07| 1.0|Female|   Yes| Sat|Dinner|   1|0.32573289902280134|
|     16.66| 3.4|  Male|    No|Thur| Lunch|   2|0.20408163265306123|
|     18.28| 4.0|  Male|    No|Thur| Lunch|   2| 0.2188183807439825|
|     24.71|5.85|  Male|    No|Thur| Lunch|   2|0.23674625657628487|
|     16.32| 4.3|Female|   Yes| Fri|Dinner|   2|0.26348039215686275|
|     11.35| 2.5|Female|   Yes| Fri|Dinner|   2|0.22026431718061676|
|     18.24|3.76|  Male|    No| Sat|Dinner|   2|0.20614035087719298|
|     14.31| 4.0|Female|   Yes| Sat|Dinner|   2| 0.2795248078266946|
|      14.0| 3.0|  Male|    No| Sat|Dinner|   2|0.21428571428571427|
|     17.31| 3.5|Female|    No| Sun|Dinner|   2|0.20219526285384173|
+----------+----+------+------+----+------+----+-------------------+
only showing top 20 rows

In [43]:
tips.sort(tips.size).show()

+----------+----+------+------+----+------+----+-------------------+
|total_bill| tip|   sex|smoker| day|  time|size|           tip_perc|
+----------+----+------+------+----+------+----+-------------------+
|      3.07| 1.0|Female|   Yes| Sat|Dinner|   1|0.32573289902280134|
|      8.58|1.92|  Male|   Yes| Fri| Lunch|   1|0.22377622377622378|
|      7.25| 1.0|Female|    No| Sat|Dinner|   1|0.13793103448275862|
|     10.07|1.83|Female|    No|Thur| Lunch|   1| 0.1817279046673287|
|     11.38| 2.0|Female|    No|Thur| Lunch|   2|0.17574692442882248|
|     14.15| 2.0|Female|    No|Thur| Lunch|   2| 0.1413427561837456|
|     13.16|2.75|Female|    No|Thur| Lunch|   2|0.20896656534954408|
|     14.07| 2.5|  Male|    No| Sun|Dinner|   2|0.17768301350390903|
|     17.47| 3.5|Female|    No|Thur| Lunch|   2|0.20034344590726963|
|      8.52|1.48|  Male|    No|Thur| Lunch|   2|0.17370892018779344|
|     14.26| 2.5|  Male|    No|Thur| Lunch|   2| 0.1753155680224404|
|      8.35| 1.5|Female|    No|Thur| Lunch|   2|0.17964071856287425|
|     20.27|2.83|Female|    No|Thur| Lunch|   2|0.13961519486926494|
|     11.87|1.63|Female|    No|Thur| Lunch|   2|0.13732097725358045|
|     12.26| 2.0|Female|    No|Thur| Lunch|   2| 0.1631321370309951|
|      9.78|1.73|  Male|    No|Thur| Lunch|   2| 0.1768916155419223|
|      8.51|1.25|Female|    No|Thur| Lunch|   2|0.14688601645123384|
|      7.51| 2.0|  Male|    No|Thur| Lunch|   2| 0.2663115845539281|
|     12.48|2.52|Female|    No|Thur| Lunch|   2|0.20192307692307693|
|     13.13| 2.0|  Male|    No| Sun|Dinner|   2|0.15232292460015232|
+----------+----+------+------+----+------+----+-------------------+
only showing top 20 rows

In [44]:
tips.orderBy(tips.size).show(10)

+----------+----+------+------+----+------+----+-------------------+
|total_bill| tip|   sex|smoker| day|  time|size|           tip_perc|
+----------+----+------+------+----+------+----+-------------------+
|     10.07|1.83|Female|    No|Thur| Lunch|   1| 0.1817279046673287|
|      8.58|1.92|  Male|   Yes| Fri| Lunch|   1|0.22377622377622378|
|      7.25| 1.0|Female|    No| Sat|Dinner|   1|0.13793103448275862|
|      3.07| 1.0|Female|   Yes| Sat|Dinner|   1|0.32573289902280134|
|     17.92|4.08|  Male|    No| Sat|Dinner|   2|0.22767857142857142|
|     14.78|3.23|  Male|    No| Sun|Dinner|   2| 0.2185385656292287|
|     14.83|3.02|Female|    No| Sun|Dinner|   2|0.20364126770060686|
|     15.77|2.23|Female|    No| Sat|Dinner|   2|0.14140773620798985|
|     21.58|3.92|  Male|    No| Sun|Dinner|   2|0.18164967562557924|
|      8.77| 2.0|  Male|    No| Sun|Dinner|   2|0.22805017103762829|
+----------+----+------+------+----+------+----+-------------------+
only showing top 10 rows

In [45]:
tips.orderBy(tips.size.desc()).show(10)

+----------+----+------+------+----+------+----+-------------------+
|total_bill| tip|   sex|smoker| day|  time|size|           tip_perc|
+----------+----+------+------+----+------+----+-------------------+
|     48.17| 5.0|  Male|    No| Sun|Dinner|   6|0.10379904504878555|
|      34.3| 6.7|  Male|    No|Thur| Lunch|   6|0.19533527696793004|
|     27.05| 5.0|Female|    No|Thur| Lunch|   6|0.18484288354898337|
|      29.8| 4.2|Female|    No|Thur| Lunch|   6|0.14093959731543623|
|     29.85|5.14|Female|    No| Sun|Dinner|   5| 0.1721943048576214|
|     20.69| 5.0|  Male|    No| Sun|Dinner|   5| 0.2416626389560174|
|     41.19| 5.0|  Male|    No|Thur| Lunch|   5|0.12138868657441128|
|     28.15| 3.0|  Male|   Yes| Sat|Dinner|   5|0.10657193605683837|
|     30.46| 2.0|  Male|   Yes| Sun|Dinner|   5|0.06565988181221273|
|     39.42|7.58|  Male|    No| Sat|Dinner|   4|0.19228817858954844|
+----------+----+------+------+----+------+----+-------------------+
only showing top 10 rows

Filtering and Sorting:

- *`.filter`* or *`.where`* to filter rows based on a condition
-  *`.sort` or `.orderBy`* to sort the data

In [46]:
tips.orderBy(tips.size.desc()).show(5)

+----------+---+------+------+----+------+----+-------------------+
|total_bill|tip|   sex|smoker| day|  time|size|           tip_perc|
+----------+---+------+------+----+------+----+-------------------+
|      29.8|4.2|Female|    No|Thur| Lunch|   6|0.14093959731543623|
|     48.17|5.0|  Male|    No| Sun|Dinner|   6|0.10379904504878555|
|      34.3|6.7|  Male|    No|Thur| Lunch|   6|0.19533527696793004|
|     27.05|5.0|Female|    No|Thur| Lunch|   6|0.18484288354898337|
|     41.19|5.0|  Male|    No|Thur| Lunch|   5|0.12138868657441128|
+----------+---+------+------+----+------+----+-------------------+
only showing top 5 rows

In [47]:
from pyspark.sql.functions import asc, desc

In [48]:
tips.orderBy(desc('size'), asc('total_bill')).show()

+----------+----+------+------+----+------+----+-------------------+
|total_bill| tip|   sex|smoker| day|  time|size|           tip_perc|
+----------+----+------+------+----+------+----+-------------------+
|     27.05| 5.0|Female|    No|Thur| Lunch|   6|0.18484288354898337|
|      29.8| 4.2|Female|    No|Thur| Lunch|   6|0.14093959731543623|
|      34.3| 6.7|  Male|    No|Thur| Lunch|   6|0.19533527696793004|
|     48.17| 5.0|  Male|    No| Sun|Dinner|   6|0.10379904504878555|
|     20.69| 5.0|  Male|    No| Sun|Dinner|   5| 0.2416626389560174|
|     28.15| 3.0|  Male|   Yes| Sat|Dinner|   5|0.10657193605683837|
|     29.85|5.14|Female|    No| Sun|Dinner|   5| 0.1721943048576214|
|     30.46| 2.0|  Male|   Yes| Sun|Dinner|   5|0.06565988181221273|
|     41.19| 5.0|  Male|    No|Thur| Lunch|   5|0.12138868657441128|
|     16.49| 2.0|  Male|    No| Sun|Dinner|   4|0.12128562765312312|
|     17.81|2.34|  Male|    No| Sat|Dinner|   4|0.13138686131386862|
|     18.29|3.76|  Male|   Yes| Sat|Dinner|   4|0.20557681793329688|
|     18.35| 2.5|  Male|    No| Sat|Dinner|   4|0.13623978201634876|
|     18.43| 3.0|  Male|    No| Sun|Dinner|   4|0.16277807921866522|
|     19.77| 2.0|  Male|    No| Sun|Dinner|   4|0.10116337885685382|
|     20.45| 3.0|  Male|    No| Sat|Dinner|   4| 0.1466992665036675|
|     20.53| 4.0|  Male|   Yes|Thur| Lunch|   4| 0.1948368241597662|
|     20.69|2.45|Female|    No| Sat|Dinner|   4|0.11841469308844853|
|      21.5| 3.5|  Male|    No| Sun|Dinner|   4|0.16279069767441862|
|     23.17| 6.5|  Male|   Yes| Sun|Dinner|   4| 0.2805351747949935|
+----------+----+------+------+----+------+----+-------------------+
only showing top 20 rows

---
#### Aggregating

In [49]:
tips.show(5)

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|           tip_perc|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
+----------+----+------+------+---+------+----+-------------------+
only showing top 5 rows

In [51]:
tips.groupBy('time').agg(mean('total_bill'))

DataFrame[time: string, avg(total_bill): double]

In [52]:
# spark is lazy
tips.groupBy('time').agg(mean('total_bill')).show()

+------+-----------------+
|  time|  avg(total_bill)|
+------+-----------------+
|Dinner|20.79715909090909|
| Lunch|17.16867647058823|
+------+-----------------+

In [54]:
tips.groupBy('time', 'day').agg(mean('total_bill')).sort('time', 'day').show()

+------+----+------------------+
|  time| day|   avg(total_bill)|
+------+----+------------------+
|Dinner| Fri| 19.66333333333333|
|Dinner| Sat|20.441379310344825|
|Dinner| Sun|21.409999999999997|
|Dinner|Thur|             18.78|
| Lunch| Fri|12.845714285714285|
| Lunch|Thur|17.664754098360653|
+------+----+------------------+

In [55]:
from pyspark.sql.functions import min, max

In [56]:
tips.groupBy('time', 'day').agg(mean('total_bill'), min('tip'), max('tip')).show()

+------+----+------------------+--------+--------+
|  time| day|   avg(total_bill)|min(tip)|max(tip)|
+------+----+------------------+--------+--------+
|Dinner| Sun|21.409999999999997|    1.01|     6.5|
|Dinner| Sat|20.441379310344825|     1.0|    10.0|
| Lunch|Thur|17.664754098360653|    1.25|     6.7|
|Dinner| Fri| 19.66333333333333|     1.0|    4.73|
|Dinner|Thur|             18.78|     3.0|     3.0|
| Lunch| Fri|12.845714285714285|    1.58|    3.48|
+------+----+------------------+--------+--------+

In [59]:
tips.groupBy('time', 'day').agg(
    mean('total_bill').alias('avg_bill'), 
    min('tip').alias('smallest_tip'), 
    max('tip').alias('largest_tip')
).show()

+------+----+------------------+------------+-----------+
|  time| day|          avg_bill|smallest_tip|largest_tip|
+------+----+------------------+------------+-----------+
|Dinner| Sun|21.409999999999997|        1.01|        6.5|
|Dinner| Sat|20.441379310344825|         1.0|       10.0|
| Lunch|Thur|17.664754098360653|        1.25|        6.7|
|Dinner| Fri| 19.66333333333333|         1.0|       4.73|
|Dinner|Thur|             18.78|         3.0|        3.0|
| Lunch| Fri|12.845714285714285|        1.58|       3.48|
+------+----+------------------+------------+-----------+

#### Pivots!!!!!

In [60]:
tips.groupBy('time').pivot('day').agg(mean('total_bill')).show()

+------+------------------+------------------+------------------+------------------+
|  time|               Fri|               Sat|               Sun|              Thur|
+------+------------------+------------------+------------------+------------------+
| Lunch|12.845714285714285|              null|              null|17.664754098360653|
|Dinner| 19.66333333333333|20.441379310344825|21.409999999999997|             18.78|
+------+------------------+------------------+------------------+------------------+

#### crosstab: groupby with count agg

In [61]:
tips.crosstab('day', 'time').show()

+--------+------+-----+
|day_time|Dinner|Lunch|
+--------+------+-----+
|     Sat|    87|    0|
|     Sun|    76|    0|
|     Fri|    12|    7|
|    Thur|     1|   61|
+--------+------+-----+

## Spark Miscellania

In [62]:
# Registers a view with tip in Spark
# allows us to run SQL queries
tips.createOrReplaceTempView('tips')

In [64]:
spark.sql('select * from tips').show(5)

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|           tip_perc|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
+----------+----+------+------+---+------+----+-------------------+
only showing top 5 rows

In [65]:
spark.sql('''
SELECT 
    time,
    day,
    mean(total_bill) AS avg_bill,
    min(tip) AS smallest_tip,
    max(tip) AS largest_tip
FROM tips
GROUP BY time, day 
''').show(5)

+------+----+------------------+------------+-----------+
|  time| day|          avg_bill|smallest_tip|largest_tip|
+------+----+------------------+------------+-----------+
|Dinner| Sun|21.409999999999997|        1.01|        6.5|
|Dinner| Sat|20.441379310344825|         1.0|       10.0|
| Lunch|Thur|17.664754098360653|        1.25|        6.7|
|Dinner| Fri| 19.66333333333333|         1.0|       4.73|
|Dinner|Thur|             18.78|         3.0|        3.0|
+------+----+------------------+------------+-----------+
only showing top 5 rows

In [66]:
from pyspark.sql.functions import expr

In [74]:
# can run SQL operations within expr()
tips.select('*', expr('total_bill / size AS price_per_person')).show()

+----------+----+------+------+---+------+----+-------------------+------------------+
|total_bill| tip|   sex|smoker|day|  time|size|           tip_perc|  price_per_person|
+----------+----+------+------+---+------+----+-------------------+------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|             8.495|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|3.4466666666666668|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846| 7.003333333333334|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|             11.84|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|            6.1475|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|            6.3225|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|             4.385|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|              6.72|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|              7.52|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|              7.39|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|             5.135|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|             8.815|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|              7.71|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|            4.6075|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|             7.415|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|             10.79|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|3.4433333333333334|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|              5.43|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306| 5.656666666666666|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903| 6.883333333333333|
+----------+----+------+------+---+------+----+-------------------+------------------+
only showing top 20 rows

In [72]:
tips.groupBy('smoker').agg(expr('MAX(total_bill) AS biggest_bill')).show()

+------+------------+
|smoker|biggest_bill|
+------+------------+
|    No|       48.33|
|   Yes|       50.81|
+------+------------+

In [77]:
mpg = spark.createDataFrame(pydataset.data('mpg'))

In [78]:
mpg.explain()

== Physical Plan ==
*(1) Scan ExistingRDD[manufacturer#1436,model#1437,displ#1438,year#1439L,cyl#1440L,trans#1441,drv#1442,cty#1443L,hwy#1444L,fl#1445,class#1446]

In [82]:
mpg.select(mpg.hwy.alias('highway_mileage')).show(5)

+---------------+
|highway_mileage|
+---------------+
|             29|
|             29|
|             31|
|             30|
|             26|
+---------------+
only showing top 5 rows

`.explain()`: shows spark query plan

In [81]:
mpg.select(mpg.hwy.alias('highway_mileage')).explain()

== Physical Plan ==
*(1) Project [hwy#1444L AS highway_mileage#1467L]
+- *(1) Scan ExistingRDD[manufacturer#1436,model#1437,displ#1438,year#1439L,cyl#1440L,trans#1441,drv#1442,cty#1443L,hwy#1444L,fl#1445,class#1446]

In [84]:
mpg.filter(mpg.cyl == 4).select(mpg.hwy.alias('highway_mileage')).explain()

== Physical Plan ==
*(1) Project [hwy#1444L AS highway_mileage#1476L]
+- *(1) Filter (isnotnull(cyl#1440L) AND (cyl#1440L = 4))
   +- *(1) Scan ExistingRDD[manufacturer#1436,model#1437,displ#1438,year#1439L,cyl#1440L,trans#1441,drv#1442,cty#1443L,hwy#1444L,fl#1445,class#1446]

In [85]:
mpg.select('cyl', mpg.hwy.alias('highway_mileage')).filter(mpg.cyl == 4).explain()

== Physical Plan ==
*(1) Project [cyl#1440L, hwy#1444L AS highway_mileage#1478L]
+- *(1) Filter (isnotnull(cyl#1440L) AND (cyl#1440L = 4))
   +- *(1) Scan ExistingRDD[manufacturer#1436,model#1437,displ#1438,year#1439L,cyl#1440L,trans#1441,drv#1442,cty#1443L,hwy#1444L,fl#1445,class#1446]

---
---

In [86]:
from vega_datasets import data

weather = data.seattle_weather().assign(date=lambda df: df.date.astype(str))
weather = spark.createDataFrame(weather)
weather.show(6)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|
|2012-01-06|          2.5|     4.4|     2.2| 2.2|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 6 rows

In [87]:
from pyspark.sql.functions import month, year, quarter

In [88]:
(
    weather.withColumn("month", month("date"))     # withColumn: Select * + additional column
    .groupBy("month")
    .agg(sum("precipitation").alias("total_rainfall"))
    .sort("month")
    .show()
)

+-----+------------------+
|month|    total_rainfall|
+-----+------------------+
|    1|465.99999999999994|
|    2|             422.0|
|    3|             606.2|
|    4|             375.4|
|    5|             207.5|
|    6|             132.9|
|    7|              48.2|
|    8|             163.7|
|    9|235.49999999999997|
|   10|             503.4|
|   11|             642.5|
|   12|             622.7|
+-----+------------------+

withColumn:

In [91]:
weather.show(5)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 5 rows

In [92]:
weather.withColumn('did_rain', weather.precipitation > 0).show(5)

+----------+-------------+--------+--------+----+-------+--------+
|      date|precipitation|temp_max|temp_min|wind|weather|did_rain|
+----------+-------------+--------+--------+----+-------+--------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|   false|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|    true|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|    true|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|    true|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|    true|
+----------+-------------+--------+--------+----+-------+--------+
only showing top 5 rows

In [96]:
# show year and quarter
(
    weather.withColumn("year", year("date"))   
    .withColumn('qtr', quarter('date'))
    #.agg(sum("precipitation").alias("total_rainfall"))
    #.sort("month")
    .show(10)
)

+----------+-------------+--------+--------+----+-------+----+---+
|      date|precipitation|temp_max|temp_min|wind|weather|year|qtr|
+----------+-------------+--------+--------+----+-------+----+---+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|2012|  1|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|2012|  1|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|2012|  1|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|2012|  1|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|2012|  1|
|2012-01-06|          2.5|     4.4|     2.2| 2.2|   rain|2012|  1|
|2012-01-07|          0.0|     7.2|     2.8| 2.3|   rain|2012|  1|
|2012-01-08|          0.0|    10.0|     2.8| 2.0|    sun|2012|  1|
|2012-01-09|          4.3|     9.4|     5.0| 3.4|   rain|2012|  1|
|2012-01-10|          1.0|     6.1|     0.6| 3.4|   rain|2012|  1|
+----------+-------------+--------+--------+----+-------+----+---+
only showing top 10 rows

In [97]:
# we see date is string, not Date_time, but spark still knows how to extract date info
# if it looks like a date, spark ma be able to understand it
weather

DataFrame[date: string, precipitation: double, temp_max: double, temp_min: double, wind: double, weather: string]

In [99]:
(
    weather.withColumn("year", year("date"))   
    .withColumn('qtr', quarter('date'))
    .groupBy('year', 'qtr')
    .agg(sum("precipitation").alias("total_rainfall"))
    .sort("total_rainfall")
    .show()
)

+----+---+------------------+
|year|qtr|    total_rainfall|
+----+---+------------------+
|2012|  3|27.200000000000003|
|2015|  2| 72.29999999999997|
|2015|  3|106.69999999999999|
|2014|  3|122.29999999999998|
|2013|  4|             177.9|
|2013|  3|             191.2|
|2012|  2|195.39999999999998|
|2014|  2|204.90000000000006|
|2013|  1|215.70000000000005|
|2013|  2|243.20000000000005|
|2015|  1|340.70000000000016|
|2014|  4|416.40000000000015|
|2012|  1| 448.6000000000001|
|2014|  1| 489.2000000000001|
|2012|  4| 554.8000000000001|
|2015|  4| 619.4999999999999|
+----+---+------------------+

Number of days with freesing temps in 2013

In [103]:
weather.show()

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|
|2012-01-06|          2.5|     4.4|     2.2| 2.2|   rain|
|2012-01-07|          0.0|     7.2|     2.8| 2.3|   rain|
|2012-01-08|          0.0|    10.0|     2.8| 2.0|    sun|
|2012-01-09|          4.3|     9.4|     5.0| 3.4|   rain|
|2012-01-10|          1.0|     6.1|     0.6| 3.4|   rain|
|2012-01-11|          0.0|     6.1|    -1.1| 5.1|    sun|
|2012-01-12|          0.0|     6.1|    -1.7| 1.9|    sun|
|2012-01-13|          0.0|     5.0|    -2.8| 1.3|    sun|
|2012-01-14|          4.1|     4.4|     0.6| 5.3|   snow|
|2012-01-15|          5.3|     1.1|    -3.3| 3.2|   snow|
|2012-01-16|          2.5|     1.7|    -2.8| 5.0|   snow|
|2012-01-17|          8.1|     3.3|     0.0| 5.6|   snow|
|2012-01-18|         19.8|     0.0|    -2.8| 5.0|   snow|
|2012-01-19|         15.2|    -1.1|    -2.8| 1.6|   snow|
|2012-01-20|         13.5|     7.2|    -1.1| 2.3|   snow|
+----------+-------------+--------+--------+----+-------+
only showing top 20 rows

In [108]:
from pyspark.sql.functions import col

In [109]:
(
    weather.filter(year("date") == 2013)
    .withColumn('temp_avg', (weather.temp_min + weather.temp_max) / 2)
    .withColumn("freezing_temps", (col('temp_avg') <= 0).cast("int"))
    .withColumn("month", month("date"))
    .groupBy("month")
    .agg(sum("freezing_temps").alias("no_of_days_with_freezing_temps"))
    .sort("month")
    .show()
)

+-----+------------------------------+
|month|no_of_days_with_freezing_temps|
+-----+------------------------------+
|    1|                             3|
|    2|                             0|
|    3|                             0|
|    4|                             0|
|    5|                             0|
|    6|                             0|
|    7|                             0|
|    8|                             0|
|    9|                             0|
|   10|                             0|
|   11|                             0|
|   12|                             5|
+-----+------------------------------+

In [110]:
(
    weather.filter(year("date") == 2013)
    .withColumn('temp_avg', (weather.temp_min + weather.temp_max) / 2)
    .withColumn("freezing_temps", (col('temp_avg') <= 0).cast("int"))
    .withColumn("month", month("date"))
    .groupBy("month")
    .agg(sum("freezing_temps").alias("no_of_days_with_freezing_temps"))
    .sort("month")
    .explain()
)

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [month#1996 ASC NULLS FIRST], true, 0
   +- Exchange rangepartitioning(month#1996 ASC NULLS FIRST, 200), ENSURE_REQUIREMENTS, [id=#1519]
      +- HashAggregate(keys=[month#1996], functions=[sum(freezing_temps#1987)])
         +- Exchange hashpartitioning(month#1996, 200), ENSURE_REQUIREMENTS, [id=#1516]
            +- HashAggregate(keys=[month#1996], functions=[partial_sum(freezing_temps#1987)])
               +- Project [cast((((temp_min#1484 + temp_max#1483) / 2.0) <= 0.0) as int) AS freezing_temps#1987, month(cast(date#1481 as date)) AS month#1996]
                  +- Filter (isnotnull(date#1481) AND (year(cast(date#1481 as date)) = 2013))
                     +- Scan ExistingRDD[date#1481,precipitation#1482,temp_max#1483,temp_min#1484,wind#1485,weather#1486]

In [111]:
(
    weather.filter(year("date") == 2013)
    .withColumn('temp_avg', (weather.temp_min + weather.temp_max) / 2)
    .withColumn("freezing_temps", (col('temp_avg') <= 0).cast("int"))
    .withColumn("month", month("date"))
    .groupBy("month")
    .agg(sum("freezing_temps").alias("no_of_days_with_freezing_temps"))
    .sort("month")
    .toPandas()
)

    month  no_of_days_with_freezing_temps
0       1                               3
1       2                               0
2       3                               0
3       4                               0
4       5                               0
5       6                               0
6       7                               0
7       8                               0
8       9                               0
9      10                               0
10     11                               0
11     12                               5